body {
  font-family: "Merriweather Sans", sans-serif;
  margin: 0;
  text-align: center;
}

.top-container {
  background-color: #e4f9f5;
  padding-top: 100px;
  position: relative;
}

h1 {
  color: #66bfbf;
  font-family: "Sacramento", cursive;
  font-size: 562%;
  margin-bottom: 0px;
}

.para {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: normal;
  margin-top: 10px;
}

h2 {
  color: #66bfbf;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: normal;
}

h3 {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
}

.bottom-cloud {
  bottom: 300px;
  left: 500px;
  position: absolute;
}

.top-cloud {
  position: absolute;
  right: 400px;
  top: 50px;
}

.profile_picture {
  border-radius: 100%;
  margin-top: 30px;
}

.skill-1 {
  margin: 50px auto 50px auto;
  text-align: left;
  width: 50%;
}

.skill-2 {
  margin: 170px auto 150px auto;
  text-align: left;
  width: 50%;
}

.coding {
  float: left;
  margin-right: 30px;
}

.game {
  float: right;
  margin-left: 30px;
}

.gibberish {
  margin: auto;
  width: 50%;
}

.bottom-container {
  background-color: #66bfbf;
  color: #e4f9f5;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  padding-top: 10px;
}

.footer-link {
  color: white;
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  margin: 25px;
  text-decoration: none;
}

.btn {
  background-color: #66bfbf;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 20px 10px 20px 10px;
  padding: 8px 20px;
  text-decoration: none;
}

hr {
  border-color: grey;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 8%;
  padding-top: 25px;
  margin-top: 40px;
}

.button {
  margin: 40px auto;
}
